body{
    background-color: rgb(67, 67, 67);
}

header{
    display:flex;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-right: 3%;
}

.studioname{
    margin-right: 3%;
}

a .header-links{
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    text-decoration: none;

}

.nova-mono-regular {
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

a .header-links:hover {
    text-decoration: underline;
    transform: translateY(5px);
    transition: transform 0.3s ease, color 0.3s ease;
  }
