body{
    background-color: rgb(67, 67, 67);
}

header{
    display:flex;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-right: 3%;
}

.studioname{
    margin-right: 3%;
}

.header-links{
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    text-decoration: none;

}

.nova-mono-regular {
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

.header-links:hover {
    text-decoration: underline;
  }
  