body{
    background-color: #333333;
    color: white;
}

header{
    display:flex;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-right: 3%;
}

.studioname{
    margin-right: 3%;
}

a .header-links{
    margin: 10px;
    display: flex;
    text-decoration: none;
    height: 18px;
    color: white;
}

.nova-mono-regular {
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

a .header-links:hover {
    text-decoration: underline;
    transform: translateY(5px);
    transition: transform 0.3s ease, color 0.3s ease;
  }

.Contacts{
    border-radius: 12px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 12px;
}

.Button{
    border-radius: 12px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 12px;
}

.news{
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 10px;
}

a{
    color: rgb(188, 180, 255);
    text-decoration: none;
}

footer{
    display:flex;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-right: 3%;
    background-color: #0e0e0e;
    flex-shrink: 0;
}

html, body{
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Viewport height */
    margin: 2%;
  }